/*Body*/


body { 
  font-family: Open Sans;  
  margin:0;
  padding:0;     
    
}
footer {
    background: #0b0c10;
    position: fixed;    
    bottom: 0;
    height: 0;
    width: 100%;
    padding-bottom: 30px;   
    text-align: center;
    font-size: 0.5em;
    color: #66fcf1;
}
@keyframes slideFunction {/*Slides div down smoothly*/
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slider {  
  /* This section calls the slideFunction animation we defined above */
  position: absolute;
  animation: 1s ease-out 0s 1 slideFunction;  
  background-color: rgba(197,198,199,0.9); 
  color:#0b0c10;      
  padding: 30px;
  width: 65%;  
  margin-left: 32%;  
  margin-top: 5px;
    
}
/*Particles*/
#particles-js{    
  background: #0b0c10;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;        
  overflow: scroll;
    
}

/*Vertical Menu*/
.nav{
    position: fixed;/*Allows particles to cover entire page and not cut off at the top*/
}
.nav ul {  
    *zoom:1;
    list-style:none;
    margin:0;
    padding:5px;    
    width: 120px;
    padding-left: 15px;     
    
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}
.nav ul > li {   
    position: relative;
    display:block;
    width:100%;
    text-align:center;       
}
.nav a {    
    display:block;
    padding:15px 30px;
    line-height:1.2em;
    background-color: rgba(31,40,51,0.9); 
    color: #66fcf1;
    text-decoration: none; 
    border-style:solid; 
    border-width: thin;
    outline: 0; /*Removes dotted-box outline when link clicked*/
    width: 65%; 
}
.nav ul li:hover {
    color: #66fcf1;
    text-decoration: underline;    
}
.nav li ul {
    position: absolute;
    left:0;
    top:36px;
    z-index:1;       
}
.nav li ul li {        
    overflow:hidden;
    height:0;
    width:160%;      
    margin-left: 110%;/*makes bar float right*/    
    margin-top: -40px;/*makes bar more bottom*/
    margin-bottom: 35px;/*Space between dropdown but also determines how much glitchy the animation is*/    
     -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;  
    
}
.nav ul > li:hover ul li {
    height:65px;   /*Space between dropdown*/        
}

